stages:
  - bathy
bathy:
  stage: bathy
  tags:
    - pan
  timeout: 2 hours 0 minutes
  before_script:
    - test -f Miniconda3-latest-Linux-x86_64.sh || wget -nv http://anaconda.rdhpcs.noaa.gov/miniconda/Miniconda3-latest-Linux-x86_64.sh
    - bash Miniconda3-latest-Linux-x86_64.sh -b -p `pwd`/local_env
    - export PATH=`pwd`/local_env/bin:$PATH
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda info -a
    - conda env create --file repro-pan.yml
    - . activate repro
    - conda list -e
    - git clone https://github.com/NOAA-GFDL/FRE-NCtools
    - pushd FRE-NCtools
    - here=$(pwd)
    - export CONFIG_SITE=${here}/site-configs/gfdl-ws/config.site
    - source ${here}/site-configs/gfdl-ws/env.sh
    - autoreconf -i
    - ./configure --prefix=${here}
    - make
    - make install
    - popd
  script:
    - export PATH=`pwd`/local_env/bin:$PATH
    - export PATH=`pwd`/local_env/envs/repro/bin:$PATH
    - export PATH=`pwd`/FRE-NCtools/bin:$PATH
    - . activate repro
    - python -m ipykernel install --user --name repro --display-name "Py3-repro"
    - conda info -e
    # niki's notebook/script
    - papermill OM4p125_edit_topo.ipynb output_step2.ipynb
    - papermill bedmachine_iceshelves_mask.ipynb output_step3.ipynb
    - md5sum -c checksums.txt
    - papermill Create_ocean_mask.ipynb output_step4.ipynb
    - md5sum -c checksums_masks.txt
    - ./create_mosaic.bash
    - md5sum -c checksums_FRENCtools.txt
